header {
  background: lightseagreen;
}

body {
  background: gray;
  margin: auto;
}

h5 {
  background: lightseagreen;
  height: 60px;
  width: 250px;
  padding-top: 15px;
}

.card-header {
  margin-bottom: 30px;
  color: lightseagreen;
}
.navbar-light .navbar-brand {
  text-align: left;
}

.nav-item {
  display: inline-block;
  list-style-type: none;
}

img {
  height: 250px;
  width: 250px;
}

.col {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

.imageBanner {
  margin-left: 114px;
  border: 2px solid yellow;
  position: absolute;
  top: 170px;
  z-index: 2;
}

.imgHolder {
  border: 2px solid yellow;
  z-index: 1;
}

.card {
  padding: 20px;
  margin: 20px;
}

.profilePhoto {
  width: 200px;
  height: 200px;
}

.row {
  text-align: center;
}

.parBod {
  font-family: "Permanent Marker", cursive;
}

footer {
  background: lightseagreen;
  text-align: center;
  padding: 40px;
}

/* not working correctly */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card-header {
    font-size: 1.5rem;
  }

  .col {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }

  .imageBanner {
    margin-left: 25px;
    border: 2px solid yellow;
    position: absolute;
    top: 70px;
    z-index: 2;
    width: 100px;
    height: 22px;
    padding: 1px;
    font-size: 12px;
  }

  .imgHolder {
    border: 2px solid yellow;
    z-index: 1;
    width: 100px;
    height: 100px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .card-header {
    font-size: 1.5rem;
  }

  .col {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }

  .imageBanner {
    margin-left: -68px;
    border: 2px solid yellow;
    position: absolute;
    top: 60px;
    z-index: 2;
    width: 100px;
    height: 22px;
    padding: 1px;
    font-size: 12px;
  }

  .imgHolder {
    border: 2px solid yellow;
    z-index: 1;
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-device-width: 576px) and (max-width: 768px) {
  .card-header {
    font-size: 1.5rem;
  }

  .col {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }

  .imageBanner {
    margin-left: 39px;
    border: 2px solid yellow;
    position: absolute;
    top: 60px;
    z-index: 2;
    width: 100px;
    height: 22px;
    padding: 1px;
    font-size: 12px;
  }

  .imgHolder {
    border: 2px solid yellow;
    z-index: 1;
    width: 100px;
    height: 100px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .col {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }

  .imageBanner {
    margin-left: 145px;
    border: 2px solid yellow;
    position: absolute;
    top: 70px;
    z-index: 2;
    width: 100px;
    height: 22px;
    padding: 1px;
    font-size: 12px;
  }

  .imgHolder {
    border: 2px solid yellow;
    z-index: 1;
    width: 100px;
    height: 100px;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 992px) and (orientation: landscape) {
  .col {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }

  .imageBanner {
    margin-left: 47px;
    border: 2px solid yellow;
    position: absolute;
    top: 120px;
    z-index: 2;
    width: 175px;
    height: 40px;
    padding: 10px;
    font-size: 10px;
  }

  .imgHolder {
    border: 2px solid yellow;
    z-index: 1;
    width: 175px;
    height: 175px;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/**********
  iPad 3
  **********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1170px) {
  .col {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }
  /* 71px */
  .imageBanner {
    margin-left: 107px;
    border: 2px solid yellow;
    position: absolute;
    top: 120px;
    z-index: 2;
    width: 175px;
    height: 40px;
    padding: 10px;
    font-size: 10px;
  }

  .imgHolder {
    border: 2px solid yellow;
    z-index: 1;
    width: 175px;
    height: 175px;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .col {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }

  .imageBanner {
    margin-left: 151px;
    border: 2px solid yellow;
    position: absolute;
    top: 120px;
    z-index: 2;
    width: 175px;
    height: 40px;
    padding: 10px;
    font-size: 10px;
  }

  .imgHolder {
    border: 2px solid yellow;
    z-index: 1;
    width: 175px;
    height: 175px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
